ClusterName=hpc-lab
SlurmctldHost={{ groups['controller'][0] }}
SlurmUser=slurm
SlurmctldPort=6817
SlurmdPort=6818
AuthType=auth/munge
StateSaveLocation=/var/spool/slurmctld
SlurmdSpoolDir=/var/spool/slurmd
SwitchType=switch/none
MpiDefault=none
ProctrackType=proctrack/pgid
ReturnToService=1

SlurmctldLogFile=/var/log/slurm/slurmctld.log
SlurmdLogFile=/var/log/slurm/slurmd.log

# NODES (Generate a list for ALL nodes in the cluster)
{% for host in groups['cluster'] %}
NodeName={{ hostvars[host]['inventory_hostname'] }} NodeAddr={{ hostvars[host]['inventory_hostname'] }} CPUs=1 RealMemory=900 State=UNKNOWN
{% endfor %}

PartitionName=dev Nodes={{ groups['cluster'] | map('lower') | join(',') }} Default=YES MaxTime=INFINITE State=UP