- name: Install Slurm packages for Ubuntu
  apt:
    name:
      - slurm-wlm
      - slurmd
      - slurmctld
    state: present

- name: Create Munge key on the controller
  command: /usr/sbin/mungekey -c -f
  args:
    creates: /etc/munge/munge.key
  when: slurm_role == 'controller'
  run_once: true
  delegate_to: "{{ groups['controller'][0] }}"

- name: Fetch the Munge key from the controller
  fetch:
    src: /etc/munge/munge.key
    dest: /tmp/munge.key
    flat: yes
  when: slurm_role == 'controller'
  run_once: true
  delegate_to: "{{ groups['controller'][0] }}"

- name: Distribute the Munge key to compute nodes
  copy:
    src: /tmp/munge.key
    dest: /etc/munge/munge.key
    owner: munge
    group: munge
    mode: '0400'
  when: slurm_role == 'compute'

- name: Set Munge key ownership on the controller
  file:
    path: /etc/munge/munge.key
    owner: munge
    group: munge
    mode: '0400'
  when: slurm_role == 'controller'

- name: Start and enable the Munge service on all nodes
  systemd:
    name: munge
    state: started
    enabled: yes

- name: Mount NFS share on compute nodes
  block:
    - name: Ensure /home mount point exists
      file:
        path: /home
        state: directory

    - name: Configure /etc/fstab for NFS client
      mount:
        name: /home
        src: "{{ groups['controller'][0] }}:/export/home"
        fstype: nfs
        opts: defaults
        state: mounted
  when: slurm_role == 'compute'
  tags: nfs_client

- name: Deploy Slurm configuration file
  template:
    src: slurm.conf.j2
    dest: /etc/slurm/slurm.conf
    owner: root
    group: root
    mode: '0644'
  notify:
    - Restart Slurm Controller
    - Restart Slurm Daemon

- name: Ensure Slurm state directory exists on controller
  file:
    path: /var/spool/slurmctld
    state: directory
    owner: slurm
    group: slurm
    mode: '0755'
  when: slurm_role == 'controller'

- name: Ensure Slurm daemon spool directory exists on compute nodes
  file:
    path: /var/spool/slurmd
    state: directory
    owner: slurm
    group: slurm
    mode: '0755'
  when: slurm_role == 'compute'

- name: Start Slurm Controller daemon
  systemd:
    name: slurmctld
    state: started
    enabled: yes
  when: slurm_role == 'controller'

- name: Start Slurm Compute daemon
  systemd:
    name: slurmd
    state: started
    enabled: yes
  when: slurm_role == 'compute'